<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>JSON Feed Validator</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		h1 {
			font-size: 30px;
			padding-top: 5px;
			padding-bottom: 0px;
			margin-bottom: 5px;
		}		
		
		a {
			color: #609C1B;
		}
		
		a:hover {
			color: #497614;
		}
		
		.icon {
			float: left;
			background-image: url("/images/icon.png");
			background-repeat: no-repeat;
			background-size: 70px 70px;
			height: 70px;
			width: 70px;			
			border-radius: 6px;
			margin-right: 15px;
		}
		
		.about {
			padding-top: 0px;
		}
		
		.feed_form {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		
		.feed_url {
		}
		
		.alert-success {
			background-color: #CAF695; /* #8AE028;*/
			border-color: #8AE028; /* 75BD20 */
		}
		
		.p {
			color: gray;
		}
	</style>
</head>
<body>

<div class="container">
	<div class="header">
		<span class="icon"></span>
		<h1>JSON Feed Validator</h1>
		<p class="about">Check whether your feed is valid. For more information about JSON Feed, <a href="https://jsonfeed.org/version/1">see the specification</a>.</p>
	</div>
	
	<%= yield %>	
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>