<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>JSON Feed Validator</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.feed_form {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		
		.feed_url {
		}
	</style>
</head>
<body>

<div class="container">
	<h1>JSON Feed Validator</h1>

	<p>Check whether your feed is valid. For more information about JSON Feed, <a href="https://jsonfeed.org/version/1">see the specification</a>.</p>

	<%= yield %>	
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>